<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<title>{% block title %}i.matdoes.dev - Free, simple, secure, and anonymous image uploader{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="description" content="The best free, fast, simple, and secure anonymous image uploader you will find.">
	<meta name="language" content="English">
	<meta http-equiv="content-language" content="en">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="canonical" href="https://i.matdoes.dev[[PATH]]"/>
	<link rel="stylesheet" type="text/css" href="/main.css?">
	<meta name="msvalidate.01" content="A9A707E08BBF89790B637CF5F38FBA78"/>
	{% endblock %}
</head>
<body>
	{% block body %}
	Nothing here yet. Come back soon!
	{% endblock %}
</body>
</html>