<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<title>{% block title %}imag.cf - Free, simple, secure, and anonymous image uploader{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="description" content="The best free, fast, simple, and secure anonymous image uploader you will find.">
	<meta name="keywords" content="simple, anonymous, anon, image, image host, imag.cf, anonymous image, simple image, free, free image host, simple image host, mat, matdoesdev, matdoes.dev, secure, secure image uploader, image uploader, fast image uploader, discord image uploader">
	<meta name="language" content="English">
	<meta http-equiv="content-language" content="en">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="canonical" href="https://www.imag.cf[[PATH]]"/>
	<link rel="stylesheet" type="text/css" href="/main.css">
	<meta name="msvalidate.01" content="A9A707E08BBF89790B637CF5F38FBA78"/>
	{% endblock %}
</head>
<body>
	{% block body %}
	Nothing here yet. Come back soon!
	{% endblock %}
</body>
</html>